body {
	background-color: black;
	color: greenyellow;
}

.fourierEquation{
	display: block;
	margin-bottom: 2em;
	margin-top: 2em;
	margin-left:auto;
	margin-right: auto;
}
.a0Equation{
	display: block;
	margin-bottom: 2em;
	margin-top: 2em;
	margin-left:auto;
	margin-right: auto;
}
.anEquation{
	display: block;
	margin-bottom: 2em;
	margin-top: 2em;
	margin-left:auto;
	margin-right: auto;
}
.bnEquation{
	display: block;
	margin-bottom: 2em;
	margin-top: 2em;
	margin-left:auto;
	margin-right: auto;
}
.introEnd{
	display: block;
	margin-bottom: 3em;
}
.coSin {
	display: block;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
}