body {
	background-color: black;
	color: lime;
}

.EquationCss{
	display: block;
	margin-bottom: 2em;
	margin-top: 2em;
	margin-left:auto;
	margin-right: auto;
}
.introEnd{
	display: block;
	margin-bottom: 3em;
}
.wave {
	display: block;
	margin-top: 2em;
}